@font-face {
  font-family: 'Potok';
  src: url('../../static/fonts/Potok-KK.woff2') format('woff2'),
      url('../../static/fonts/Potok-KK.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
