header {
  height: var(--headerHeight);
  z-index: 1001;
  color: white;
  top: 0px;
  left: 0px;
  font-family: Helvetica;
}
.inner-header {
  width: var(--outer);
  max-width: 90%;
  height: 100%;
}
.logo {
  font-size: var(--size-6);
  height: 100%;
}
nav {
  height: 100%;
  letter-spacing: 0.1em;
}
.nav-link {
  padding: 20px 10px;
  font-size: var(--size-3);
  display: inline-block;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  font-family: Helvetica;
  font-weight: 300;
  &:after {
    content: '';
    position: absolute;
    width: 0%;
    background-color: white;
    height: 2px;
    bottom: 8px;
    right: 0px;
    border-bottom-right-radius: 0px;
    opacity: 0;
    transition: width 0.3s var(--curve), opacity 0.3s var(--curve);
  }
  &:hover, &:focus, &:active {
    &:after {
      width: 100%;
      bottom: 8px;
      left: 0px;
      right: auto;
      opacity: 1;
    }
  }
  &.active-link {
    font-weight: 500;
    &:after {
      width: 100%;
      bottom: 8px;
      left: 0px;
      right: auto;
      opacity: 1;
    }
  }
}
.h-primary-bg {
  .logo {
    color: black;
  }
  .nav-link {
    color: black;
    &:after {
      background-color: black;
    }
  }
}
.menu-trigger {

}

#pencet{
  display:flex;
  align-items:center;
  flex-direction:column;
  cursor:pointer;
}

#pencet span{
  // background-color:black;
  width:2em;
  height:.2em;
  margin:0.26em 0;
  display:block;
  transition: all .4s ease;
  transform-origin:0 0;
}

.menu-open span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -1px);
}

.menu-open span:nth-child(2) {
  transform: scaleX(0);
}

.menu-open span:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0);
}

.mobile-nav-link {
  padding: 16px 10px;
  text-transform: uppercase;
  font-size: 4.6vw;
  display: inline-block;
  margin-left: 30px;
  position: relative;
  font-family: Helvetica;
  font-weight: 300;
  overflow: hidden;
  color: black;
  &:after {
    content: '';
    position: absolute;
    width: 0%;
    background-color: black;
    height: 2px;
    bottom: 8px;
    left: 0px;
    border-bottom-right-radius: 0px;
    opacity: 0;
    transition: width 0.3s var(--curve), opacity 0.3s var(--curve);
  }
  &:hover, &:focus, &:active {
    &:after {
      width: 100px;
      bottom: 8px;
      left: 0px;
      right: auto;
      opacity: 1;
    }
  }
  
}


footer {
  background-color: var(--primary);
  width: 100%;
  position: relative;
  font-family: Helvetica;
  padding-top: 30px;
  padding-bottom: 60px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
  font-size: var(--size-3);
  .chata-img {
    height: 100%;
  }
}
.kontakt-heading {
  font-size: var(--size-6);
}
.social-link {

}
.underline-link {
  position: relative;
  // letter-spacing: 0.1em;
  padding-bottom: 8px;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    // width: 100%;
    // left: 0px;
    // opacity: 1;
    width: 0%;
    right: 0px;
    // left: auto;
    opacity: 0;
    
    background-color: black;
    height: 3px;
    bottom: 0px;
    border-bottom-right-radius: 0px;
    transition: width 0.3s var(--curve), opacity 0.3s var(--curve);
  }
  &:hover, &:focus, &:active {
    &:after {
      // width: 0%;
      // right: 0px;
      // left: auto;
      // opacity: 0;
      width: 100%;
      left: 0px;
      right: auto;
      opacity: 1;
    }
  }
  &.text-primary {
    &:after {
      background-color: var(--textColor);
    }
  }
   &.text-black {
     &:after {
       background-color: black;
     }
   }

  &.selection {

    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      height: 2px;
      bottom: 0px;
      width: 0%;
      right: 0px;
      border-bottom-right-radius: 0px;
      transition: width 0.3s var(--curve), opacity 0.3s var(--curve);
    }
    &:hover, &:focus, &:active, &.active {
      &:after {
        width: 100%;
        left: 0px;
        right: auto;
        opacity: 1;
      }
    }

  }
  
}
@media (max-width: 860px) {
  .footer-text {
    flex-direction: column;
  }
  .social {
    margin-top: 2rem;
  }
  .contact-block {
    margin-top: 3rem;
  }
  .address {
    margin-top: 1rem;
  }
  footer {
    .chata-img {
      width: 240px;
      height: auto;
    }
  }
}