:root {
  // Colors
  --primary: #EFE9E6; //#a19994;//#79736F; //hsl(20, 7%, 55%);
  --primary3: #a19994;
  --primary2: hsl(23, 7%, 78%);
  --textLight: rgb(112, 112, 112, 0.25);
  --textColor: rgb(112, 112, 112);
  --primaryLight: hsl(20, 5%, 89%);
  --white: #ffffff;

  --outer: 1630px;
  --inner: 1428px;

  --spacing: 220px;

  --top-height: 342px;

  --offset: 101px;

  --curve: cubic-bezier(0.22, 0.61, 0.36, 1);


  // Font sizes
  --size-1: 10px;
  --size-2: 12px;
  --size-3: 14px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 32px;
  --size-8: 38px;
  --size-9: 44px;
  --size-10: 52px;
  --size-11: 64px;
  --size-12: 100px;
  --size-13: 160px;

  --headerHeight: 90px;
}

